<html>

<head>
</head>


<body>
<h2>Shipping address </h2>
<form style="width:100%";>
Title: <br>
<select>
<option>Mr</option>
<option>Mrs</option>
<option>Miss</option>
<option>Ms</option>
<option>Dr</option>
</select>
<br>
First name:<br>
<input type="text"/>
<br>
Last name:<br>
<input type="text" />
<br>
Phone no.:<br>
<input type="text" />
<br>
Address:<br>
<input type="text" />
<br>
Address:<br>
<input type="text" />
<br>
City:<br>
<input type="text" />
<br>
<br>
Pincode: <br>
<input type="text" />
<br><br>
State: <br>
<select>
<option>Assam</option>
<option>Gujrat</option>
<option>Orissa</option>
<option>Bihar</option>
<option>Karnataka</option>
<option>Tamilnadu</option>
<option>Madhya Paradesh</option>
<option>Maharastra</option>
<option>Punjab<option>
</select>
<br>
Instructions:<br>
<textarea rows="10" cols="70"></textarea>
<br>
<br>

<input type="submit" value="submit" />
</form>
</body>

</html>
